<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
        <div class="columns is-mobile is-centered">
            <figure class="image ">
<!--                <img src="{{ logo_url }}">-->
            </figure>
        </div>
        <br/>
        <div class="title b612-mono is-4 has-text-grey-lighter">
            fun internet things
        </div>
</br>
        <div class="tabs is-centered">
          <ul>
            <li>
                <!-- Twitter-->
              <a href="https://twitter.com/ephergent" target="_blank">
                <div class="icon-text">
                    <span class="icon has-text-info">
                        <i class="fa-brands fa-x-twitter"></i>
                    </span>
                </div>
              </a>
            </li>
<!--               <li>-->
<!--            &lt;!&ndash; Instagram&ndash;&gt;-->
<!--              <a href="http://instagram.com/beforegr8ness" target="_blank">-->
<!--              <div class="icon-text">-->
<!--              <span class="icon has-text-success">-->
<!--                <i class="fa-brands fa-square-instagram"></i>-->
<!--              </span>-->
<!--            </div>-->
<!--              </a>-->
<!--          </li>-->
<!--          <li>-->
<!--              &lt;!&ndash;  TikTok&ndash;&gt;-->
<!--              <a href="https://www.tiktok.com/@beforegr8ness?is_from_webapp=1&sender_device=pc">-->
<!--              <div class="icon-text">-->
<!--              <span class="icon has-text-warning">-->
<!--                <i class="fa-brands fa-tiktok"></i>-->
<!--              </span>-->
<!--            </div>-->
<!--              </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            &lt;!&ndash; YouTube&ndash;&gt;-->
<!--              <a href="https://www.youtube.com/channel/UCkiEGgIwNLrKuDUwCkSrOwQ" target="_blank">-->
<!--              <div class="icon-text">-->
<!--              <span class="icon has-text-success">-->
<!--                <i class="fa-brands fa-square-youtube"></i>-->
<!--              </span>-->
<!--            </div>-->
<!--              </a>-->
<!--          </li>-->
          </ul>
        </div>


<br/>

{% endblock %}